{% extends "layout.twig" %}

{% block desc %}
<title>Музыкальный тренажер - Сольфеджио.онлайн</title>
<meta name="description" content="Выберите музыкальный тренажер: игра (клавиатура фортепиано онлайн), мажор / минор, угадай ноту, угадай интервал, угадай трезвучие, музыкальный диктант">
{% endblock %}

{% block content %}    
<div id="piano" ondragstart="return false;" ondrop="return false;"> 
</div> 
{% endblock %}

{% block scripts %}  
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?159"></script>
<script src="/assets/js/piano.js"></script>
{% endblock %}