{% extends "layout.twig" %}

{% block desc %}
<title>Музыкальный тренажер - Сольфеджио.онлайн</title>
{% endblock %}

{% block content %}    
<div id="piano" ondragstart="return false;" ondrop="return false;"> 
</div> 

<div id="mode" ondragstart="return false;" ondrop="return false;"> 
</div>

{% endblock %}

{% block scripts %}  
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?159"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/assets/js/piano.js"></script>
{% endblock %}